table {
    border: 3px;
    border-style: solid;
    border-color: black;
}

button {
    padding: none;
    border: none;
}

.white {
    background-color: white;
    --hover-background-color: #d5d4d4;
}

.black {
    background-color: grey;
    --hover-background-color: #686868;
}

.white:hover, .black:hover{
    background-color: var(--hover-background-color);
}