table {
    border: 3px solid black;
    border-spacing: none;
    border-collapse: collapse;
    padding: none;
}

.tile {
    border: 3px solid transparent;
    height: 60px;
    width: 60px;
}

.white {
    background-color: white;
    --hover-background-color: #d5d4d4;
}

.black {
    background-color: grey;
    --hover-background-color: #686868;
}

.white:hover, .black:hover{
    background-color: var(--hover-background-color);
}

.tile > img {
    --scale-transform: 1.4;
    transform: scale(var(--scale-transform));
    transition: transform 120ms ease, filter 180ms ease;
}

.clicked > img {
    -webkit-filter: drop-shadow(0px 7px 0px #00000033);
    filter: drop-shadow(0px 7px 0px #00000033);
    transform: translateY(-10px) scale(var(--scale-transform));
}