@font-face {
    font-family: uper-left-down;
    src: url(font/Upper_Left_Down.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 70px;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
}

#menuDiv {
    margin: 15px;
}

#menuDiv input {
    height: 26px;
}
#menuDiv button {
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

#bKillsDiv {
    margin-top: 15px;
    margin-bottom: 5px;
}
#wKillsDiv {
    margin-bottom: 15px;
    margin-top: 5px;
}

#wKillsDiv, #bKillsDiv {
    text-align: left;
    padding: 0 16px;
    height: 23.2px;
}

#menuDiv, #tableDiv {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: lightgray 2px 2px 4px;
}

#wKillsDiv > img, #bKillsDiv > img {
    width: 26px;
    margin: 0 3px;
    background: radial-gradient(#ffc0c0 9px, transparent 10px);
}